:host
{
    /* Some Colors */
    --spring-clear-green: #D3EEED;
    --wide-green: #6CACA4;
    --clear-green: oklch(76.755% 0.10812 141.509);
    --deep-green: oklch(79.778% 0.26303 143.075 / 0.534);
    --really-deep-green: #2B564D;

    --pearl-blue: rgb(233, 243, 251);
    --opale-blue: rgb(223, 237, 249);
    --sea-blue: rgb(218, 231, 242);
    --clear-blue: rgb(170, 208, 237);
    --wide-blue: rgb(103, 171, 222);
    --deep-blue: rgb(44, 86, 122);
    --really-deep-blue: rgb(37, 72, 101);

    --zz-orange: rgb(255, 192, 0);

    /* Gradient */
    --gradient:
    linear-gradient(90deg, var(--pearl-blue) 50%, var(--sea-blue) 65%,var(--clear-blue) 80%, var(--wide-blue) 99%, var(--deep-blue) 100%);
}

.main-header /* Sera mis à Jour par l'animation */
{
    display: flex; /* Active Flexbox, gap et justify-content */
    position: relative; /* Position normale au flux de la page */
    top: 0; /* Collé en haut de la page */

    background: var(--gradient); /* Fond bleu clair */

    gap: 0.5rem; /* Espace FIXE entre contenus enfants */
    justify-content: space-between; /* Espace DISPONIBLE entre contenus enfants */
    align-items: center; /* Centre Verticalement */
    padding: 1rem 1rem 1rem 1rem; /* Espace Interne (Haut Bas Gauche Droite) */
    margin-bottom: 1rem;

    overflow: hidden; /* Masque le contenu qui dépasse du template */

    width: 100%; /* Largeur pleine page */

    z-index: 1000; /* Premier Plan */

    box-sizing: border-box; /* Inclut padding et border dans le calcul des dimensions */
    box-shadow: 0.2rem 0.4rem 0.625rem black; /* Ombre Légère de Surélèvement (Horizontal, Vertical, Flou) */

    border-color: var(--zz-orange);
    border-width: 3.125rem;
    border-radius: 0.625rem; /* Épaisseur des coins */

    animation: fadeInLoading 0.6s ease-out forwards;
}

.letf-side
{ text-align: left; }

.logoRedirect, .logoMail, .logoPhone, .logoGitLab, .logoGitHub, .logoCV
{
    background-color: transparent;

    align-items: center;
    vertical-align: middle;

    margin-left: 0.3125rem;
    margin-right: 0.5rem;
    margin-bottom: 0.3125rem;

    width: auto;
    height: 1.25rem;

    white-space: nowrap;
}

.center-side
{
    flex: content;
    text-align: center;

    color: var(--deep-blue); /* Texte en Bleu */
}

h1
{
    margin: auto; /* Centre le Titre */
    font-size: 4rem;  /* Taille du Titre */
}

@media (max-width: 980px) /* Pour les écrans type mobile */
{
    h1
    {
        margin: auto; /* Marges Automatiques */
        font-size: 2.8rem;  /* Taille du Titre */
    }
}

h2
{
    margin: auto; /* Espace Réduit */

    opacity: 0.9; /* Légère Transparence */
    font-size: 1.4rem; /* Taille de la Police */
    font-style: oblique;
}

h3
{
    margin: auto; /* Marges Automatiques */
    font-size: 1.4rem; /* Taille de la Police */
    font-style: oblique;
    font-weight: 100;
}

.nav-link
{
    width: 100%;

    color: var(--deep-blue); /* Lien Vert */
    user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
    /* Désactive le surlignage pour Safari, Chrome, Mozilla et Internet Explorer */
}

.nav-link:hover
{
    color: var(--really-deep-blue); /* Couleur au Survol */
    text-decoration: underline; /* Soulignement au survol */
}

.right-side
{ text-align: right; }

a { text-decoration: none; }

@keyframes appearing
{
    from { opacity: 0; } /* Début Invisible */
    to { opacity: 1; } /* Fin Visible */
}

@keyframes disappearing
{
    from { opacity: 1; } /* Début Visible */
    to { opacity: 0; } /* Fin Invisible */
}

@keyframes fadeInLoading
{
    from { opacity: 0; transform: translateY(-1.25rem); } /* Début Invisible */
    to { opacity: 1; transform: translateY(0rem); } /* Fin Visible */
}

@keyframes fadeIn
{
    from { transform: translateY(0rem); } /* Début Invisible */
    to { transform: translateY(-0.625rem); } /* Fin Visible */
}

@keyframes hoveringUp
{
    0% { transform: translateY(-0.625rem); } /* Vers le Haut */
    50% { transform: translateY(0px); } /* Puis Vers le Bas */
    100% { transform: translateY(-0.625rem); } /* Puis Vers le Haut */
}

.appearing { animation: appearing 0.6s ease-out forwards !important;}
.disappearing { animation: disappearing 0.6s ease-out forwards !important;}
.fade-In-Loading { animation: fadeInLoading 0.6s ease-out forwards; }
.fade-In { animation: fadeIn 0.6s ease-out forwards; }
.hovering-up { animation: hoveringUp 0.6s ease-in-out; }

.custom-notification
{
    position: fixed;

    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    z-index: 9999;
    padding: 0.5rem 0.75rem;

    box-shadow: 0 0.125rem 0.3125rem black;
    border-radius: 4px;

    animation:  appearing 0.6s ease-out forwards,
                fadeIn 0.6s ease-out forwards,
                disappearing 0.6s ease-out forwards 1.8s;
              /* hovering-up 1.1s ease-in-out infinite, */
}

.logoHat { text-decoration: none; }