:host
{
    /* Some Colors */
    --spring-clear-green: #D3EEED;
    --wide-green: #6CACA4;
    --clear-green: oklch(76.755% 0.10812 141.509);
    --deep-green: oklch(79.778% 0.26303 143.075 / 0.534);
    --really-deep-green: #2B564D;

    --pearl-blue: rgb(233, 243, 251);
    --opale-blue: rgb(223, 237, 249);
    --sea-blue: rgb(218, 231, 242);
    --clear-blue: rgb(170, 208, 237);
    --wide-blue: rgb(103, 171, 222);
    --deep-blue: rgb(44, 86, 122);
    --really-deep-blue: rgb(37, 72, 101);

    --zz-orange: rgb(255, 192, 0);

    /* Gradient */
    --gradient-green:
    linear-gradient(90deg, var(--spring-clear-green) 70%, var(--wide-green) 100%);

    --gradient-blue:
    linear-gradient(90deg, var(--pearl-blue) 50%, var(--sea-blue) 65%,var(--clear-blue) 80%, var(--wide-blue) 99%, var(--deep-blue) 100%);
}

@keyframes fadeInLoading
{
    from { opacity: 0; transform: translateY(-20px); } /* Début Invisible */
    to { opacity: 1; transform: translateY(0px); } /* Fin Visible */
}

@keyframes fadeInDisappearing
{
    from { opacity: 1; transform: translateY(0px); } /* Début Invisible */
    to { opacity: 0; transform: translateY(-20px); } /* Fin Visible */
}

.fade-In-Loading { animation: fadeInLoading 0.6s ease-out forwards; }
.fade-In-Disappearing { animation: fadeInDisappearing 0.6s ease-out forwards; }

.info-card
{
    display : flex; /* Active Flexbox, gap et justify-content */
    position: relative; /* Position normale au flux de la page */

    flex-wrap: wrap; /* Retour à la ligne automatique */
    overflow: hidden;

    opacity: 1;
    background: var(--gradient-blue);
    background-color: var(--gradient-blue);

    gap: 0.5rem; /* Espace FIXE entre contenus enfants */
    justify-content: space-between; /* Espace DISPONIBLE entre contenus enfants */
    align-items: center; /* Centre Verticalement */
    padding: 0.2rem 0.2rem 0.2rem 0.2rem; /* Espace Interne (Haut Bas Gauche Droite) */

    margin-top: 1rem; /* Espace de marge au dessus */
    margin-bottom: 3rem; /* Espace de marge au dessous */

    width: 100%; /* Fraction de largeur du contenu parent (Ici, la page) */
    min-width: fit-content;

    box-sizing: border-box; /* Inclut padding et border dans le calcul des dimensions */
    box-shadow: 0.75rem 0.625rem 0.625rem black; /* Ombre Légère de Surélèvement (Horizontal, Vertical, Flou) */

    border-color: black;
    border-width: 3.125rem;
    border-radius: 0.625rem; /* Épaisseur des coins */

    /* animation: fadeInLoading 0.6s ease-out forwards; */
    /* transition: opacity 0.3s ease, transform 0.3s ease; */
}

.info-card-template-banner /* Dimensions et caractéristiques de la bannière Info-card */
{
    flex: 0 0; /* Ne peut pas grandir, ni rétrécir */

    white-space: wrap; /* Permet le retour à la ligne automatique */
    overflow: hidden; /* Masque le contenu qui dépasse du template */

    background-color: var(--really-deep-blue); /* Fond bleu */

    padding: 1rem 1rem 1rem 1rem; /* Espace Interne (Haut Bas Gauche Droite) */

    width: 99%; /* Fraction de largeur du contenu parent (Ici, le template Info-Card) */

    box-sizing: border-box; /* Inclut padding et border dans le calcul des dimensions */
    box-shadow: 0.5rem 0.4rem 0.625rem black; /* Ombre Légère de Surélèvement (Horizontal, Vertical, Flou) */

    border-color: black;
    border-width: 3.125rem;
    border-radius: 0.625rem; /* Épaisseur des coins */
}

.info-card-title
{
    color : var(--really-deep-blue);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: x-large;

    margin-top: 0;
    margin-bottom: 0.5rem;
}

.info-card-content
{
    flex: 1; /* Peut grandir, peut rétrécir */
    display: flex; /* Active Flexbox, gap et justify-content */
    flex-direction: column;

    overflow: hidden; /* Masque le contenu qui dépasse du template */

    gap : 1rem;
    padding: 1rem 0rem 1rem 1rem; /* Espace Interne (Haut Bas Gauche Droite) */

    width: 100%;
}

.info-card-content-wrapper
{
    display: flex; /* Aligne horizontalement */

    gap: 1rem;
    padding: 0rem 0rem 1rem 1rem;

    width: 100%;

    box-sizing: border-box;
}

.info-card-template-text-format
{
    width: 69%; /* Promis c'est pas fait éxprès */

    color: rgb(34, 34, 34);

    font-family: 'Times New Roman', Times, serif;
    font-size: 160%;
    font-weight: 600;

    white-space: wrap; /* Permet le retour à la ligne automatique */
    word-wrap: break-word;
}

.info-card-template-image-format
{
    max-width: 35rem;
    max-height: 43rem;
}

@media (max-width: 980px) /* Pour les écrans type mobile */
{
    .info-card-content-wrapper
    {
        display: flex;
        flex-direction: column; /* Aligne horizontalement */
        align-items: center; /* Centre verticalement */

        width: 100%;

        box-sizing: border-box;
    }

    .info-card-template-text-format
    {
        width: 99%; /* Promis c'est pas fait éxprès */

        color: rgb(34, 34, 34);

        font-family: 'Times New Roman', Times, serif;
        font-size: 130%;
        font-weight: 600;

        white-space: wrap; /* Permet le retour à la ligne automatique */
        word-wrap: break-word;
    }

    .info-card-template-image-format
    {
        max-width: 25rem;
        max-height: 33rem;
    }
}

figcaption
{ font-size: medium; font-style: italic; }